html ,body{
    margin: 0;
}

header{
    position:fixed;
    width:100%;
    background-color:#333;
    z-index: 1;
}

nav:hover{

  background-color:black;
}

nav li:hover{

    color:aqua;
}


.massage{
    font-family:'Reem Kufi', sans-serif;
    font-size:50px;
    font-weight:bold;
    
}

.text{
    font-size:20px;

}

.spacer{
    height:20px;
    background-color:#333;

}




.g-container{



box-sizing: border-box;
padding:30px;


}

.gatherings{
    text-align: center;
    margin: 0 auto;
    width:80%;
    box-sizing: border-box;
    border-left: 1px solid #333;
    border-right:1px solid #333;
    



}


.gather{

    box-sizing: border-box;
    padding:20px;
   


}

.line{

    width:30%;
    height:3px;
    margin: 0 auto;
    background-color: #333;
   
    z-index: 3;

}


#logo-container{
  
    width:130px;
    height:85px;
    position:fixed;
    left:2%;
    top: 22px;
    z-index: 1;
    background-color: aqua;
    
}

#logo{

    width:100%;
    height:100%;
    
  


}

#btn-main:hover{

    color:aqua;
}

nav{
    float:right;

    margin: 0;
    padding:20px 0;
}

nav li{
    color:#fff;
    display:inline-block;
    font-size:15px;
    font-weight:600;
    width:80px;

}




#banner-container{
    position: relative;
    top:90px;
    width:100%;
    height:1000px;
    margin:20px auto 90px auto;

   

}

#banner{
    width:100%;
    height:100%;

  

}  #button:hover{
    opacity: 1;
}

  #button{

    
    min-height:10%;
    background-color:#333;
    color:#fff;
    position: relative;
    bottom:50%;
    margin:0 auto;
    opacity:0.6;
    text-align:center;    

}
#btn-main {
   
    
   background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 40%;
    left:1%;
    
  
}





@media only screen and (max-width:800px){

    #banner-container{

        height:400px;
    }




}

#phrase-of-day{
    padding:20px;
    text-align:center;
    position:relative;
    max-width:70%;
    min-height:400px;
   
    margin: 0 auto;
    
     z-index: 2;
}


